<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>发起请假</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/font.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/weadmin.css')}}">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="weadmin-body">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <div class="alert alert-success" style="text-align: center">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <strong>{{ message }}</strong>
                      </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    
        <form class="layui-form" method="post" onsubmit="return submit_form()" action="{{url_for('admin.role_join_access')}}">
            <div class="layui-form-item" pane="">
                <div class="layui-input-block">
                    {% for x in access %}
                    <input type="checkbox" name="access" lay-skin="primary" title="{{access[x][1]}}" {%if access[x][2] %} checked="" {% endif %}  value="{{access[x][0]}}">
                    <div class="layui-unselect layui-form-checkbox {%if access[x][2] %} layui-form-checked {%endif%} " lay-skin="primary"><span>{{access[x][1]}}</span>
                    <i class="layui-icon layui-icon-ok"></i></div>
                    {% endfor %}

                </div>
              </div>

              <input type="hidden" name="role_id" value="{{role_id}}">
         
          
          <div class="layui-form-item">
              <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
              <label for="L_repass" class="layui-form-label"></label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">保存</button>
          </div>
      </form>
    </div>
		<script src="{{url_for('static',filename='layui/layui.js')}}" charset="utf-8"></script>
<script>
layui.use('form', function(){
var form = layui.form;
});

</script>
  </body>

</html>

