

<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>教师管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/font.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/weadmin.css')}}">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="weadmin-body">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <div class="alert alert-success" style="text-align: center">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <strong>{{ message }}</strong>
                      </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="layui-btn-group">
        <!-- <button type="button" class="layui-btn layui-btn-sm"><i class="layui-icon"></i></button> -->
        <!-- <button type="button" class="layui-btn layui-btn-sm"><i class="layui-icon"></i></button> -->
        <!-- <button type="button" class="layui-btn layui-btn-sm"><i class="layui-icon"></i></button> -->
		<button class="layui-btn" onclick="WeAdminShow('添加职工','{{url_for('school.staff_handle')}}',800,450)"><i class="layui-icon">&#xe61f;</i>添加</button>

      </div>


    <div class="layui-form">
        <table class="layui-table">
          <colgroup>
            <col width="150">
            <col width="150">
            <col width="200">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>ID</th>
              <th>名称</th>
              <th>编号</th>
              <th>性别</th>
              <th>状态</th>
              <th>手机号</th>
            </tr> 
          </thead>
          <tbody>
            {% for x in result %}
            <tr>
              <td>{{x.id}}</td>
              <td>{{x.name}}</td>
              <td>{{x.number_id}}</td>
              <td>{% if x.sex %}男{% else %}女{% endif %}</td>
              <td>{% if x.status %}是{% else %}否{% endif %}</td>
              <td>{{x.phone}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript" src="{{url_for('static',filename='layui/layui.js')}}" charset="utf-8"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/list.js')}}" charset="utf-8"></script>


  </body>

</html>