<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>添加教师</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/font.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/weadmin.css')}}">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="weadmin-body">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <div class="alert alert-success" style="text-align: center">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <strong>{{ message }}</strong>
                      </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

        <form class="layui-form" method="post" onsubmit="return submit_form()" action="{{url_for('school.teacher')}}">
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">教师名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="name" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="username" class="layui-form-label">教师编号</label>
                <div class="layui-input-inline">
                    <input type="text" id="number_id" name="number_id" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="username" class="layui-form-label">手机号码</label>
                <div class="layui-input-inline">
                    <input type="text" id="phone" name="phone" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <label for="username" class="layui-form-label">备注</label>
                <div class="layui-input-inline">
                    <input type="text" id="remark" name="remark" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">是否禁用</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="status" lay-skin="switch"  lay-text="是|否">
                    <div class="layui-unselect layui-form-switch"><em>否</em><i></i></div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="checkbox" checked="" name="sex" lay-skin="switch" lay-filter="switchTest" lay-text="男|女"><div class="layui-unselect layui-form-switch layui-form-onswitch" lay-skin="_switch"><em>女</em><i></i></div>
                </div>
            </div>

        </div>
         
          
          <div class="layui-form-item">
              <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
              <label for="L_repass" class="layui-form-label"></label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">增加</button>
          </div>
      </form>
    </div>
		<script src="{{url_for('static',filename='layui/layui.js')}}" charset="utf-8"></script>
<script>
layui.use('form', function(){
var form = layui.form;
});

function submit_form(){
    let name = document.getElementById('name').value;
    let number_id = document.getElementById('number_id').value;
    let phone = document.getElementById('phone').value;
    if(!name){
        return false;
    }
    if(!number_id){
        return false;
    }
    if(!phone){
        return false;
    }
    return true;
    
}

</script>
  </body>

</html>